@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Playfair+Display&family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
:root {
  --font-cursive: "Amatic SC";
  /* --main-color:#699696; */
  --main-color: #904E55;
  /* --main-color:#F2AE7A; */
  --main-font: "Montserrat";
  --main-font-size: 18px;
}
body,
html {
  margin: 0;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
header {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  /*min-height: calc((100vw * 16)/9);*/
  background-image: url("img/backpili.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  perspective: 2px;
  z-index: 10000;
}
.overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: white;
}
.overlay-header p span {
  font-family: var(--font-cursive);
  font-size: 90px;
  display: block;
}
.overlay-header p {
  font-family: var(--font-cursive);
  font-size: 60px;
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 50px;
  font-weight: 100;
  margin-bottom: 0;
  text-transform: uppercase;
}
header a {
  position: absolute;
  z-index: 10;
  left: calc(50% - 32px);
  bottom: 32px;
  animation: bounce 3s infinite;
}
header a:hover {
  bottom: 20px;
  transition: bottom 0.5s ease;
}
header a img {
  width: 64px;
}
.days-left {
  width: 100vw;
  max-width: 100%;
  height: 150px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  font-family: var(--main-font);
  position: relative;
  z-index: 11;
  font-size: 24px;
}
.days-left p {
  margin: 10px;
  font-weight: 100;
}

section,
footer {
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding: 50px 0px;
}

section .section-inner {
  width: 70%;
  margin: auto;
  position: relative;
}
.wedding-details {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.wedding-details img {
  width: 120px;
  height: 120px;
  margin: auto;
}
.wedding-details-text {
  width: 100%;
  text-align: center;
  font-family: var(--main-font);
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.wedding-details-text > div {
  width: 70%;
  position: relative;
}
.wedding-details-text p {
  font-size: var(--main-font-size);
  font-weight: 300;
  line-height: 2;
}
.wedding-details-text h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0px;
  text-transform: uppercase;
}

.wedding-details-text a,
section.regalo button,
.asistencia a {
  background-color: white;
  padding: 12px 22px;
  border-radius: 24px;
  color: var(--main-color);
  text-decoration: none;
  display: inline-block;
  font-size: calc(var(--main-font-size)*1.2);
  border: 1px solid white;
  font-weight: bold;

}

.wedding-details-text a:hover,
section.regalo button:hover,
.asistencia a:hover {
  background-color: var(--main-color);
  color:white ;
}
.wedding-details-text a {
  /* text-transform: uppercase; */
}

section.asistencia{
  background-color: var(--main-color);
}

section.regalo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: var(--main-font-size);
  font-weight: 300;
}
section.regalo img {
  width: 75px;
}
section.regalo p {
  width: 50%;
  text-align: center;
  color: var(--main-color);
  font-size: var(--main-font-size);
}
section.regalo button {
  background-color: var(--main-color);
  color: black;
  border: 1px solid var(--main-color);
  font-size: var(--main-font-size);
  width: 200px;
  display: block;
  color: white;
  font-weight: 700;
  font-family: var(--main-font);
  cursor:pointer;
}
section.regalo button:hover {
  background-color: white;
  color: var(--main-color);
}
.modal-regalos {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(144, 78, 85, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inner-modal-regalos {
  width: 400px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  padding: 30px 0px;
}
.modal-regalos-item {
  margin: 35px 0px;
  border-top: 1px solid #f2f2f2;
}
.modal-regalos-item:nth-child(1) {
  border-top: none;
}
.modal-regalos-item img {
  width: 28%;
}

.asistencia {
  text-align: center;
}
.asistencia h2 {
  text-transform: uppercase;
  color:white;
}

footer {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  font-size: 18px;
}

.photos {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.photos img {
  width: 32%;
  margin: 2.5px 2.5px;
  border-radius: 10px;
}
.photos img:hover {
  transform: scale(1.01);
  transition: transform ease 0.5s;
}

.asistencia>.section-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.photos h1{
  color:var(--main-color);
}

@media (max-width: 768px) {
  header {
    /*min-height: calc((100vw * 16)/9);*/
    background-image: url("img/mobile.jpg") !important;
    background-size: 100% 100% !important;
    background-attachment: initial !important;
  }
  .overlay-header p {
    font-size: 36px;
    text-align: left;
    top: 20px;
    left: 30px;
    font-weight: 100;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .wedding-details-text {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  section .section-inner {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .wedding-details-text > div {
    width: 70%;
    position: relative;
  }

  .wedding-details-text h2 {
    margin-top: 15px;
  }
  .photos {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .photos img {
    width: 100%;
    margin: 2.5px 2.5px;
    border-radius: 10px;
  }
  .photos img:hover {
    transform: scale(1.01);
    transition: transform ease 0.5s;
  }
}
